.detail-page-header
  .detail-page-header-body
    .issuable-status-box.status-box.status-box-issue-closed{ class: issue_status_visibility(issuable, status_box: :closed) }
      = sprite_icon('mobile-issue-close', css_class: 'gl-display-block gl-display-sm-none!')
      .gl-display-none.gl-display-sm-block!
        = issue_closed_text(issuable, current_user)
    .issuable-status-box.status-box.status-box-open{ class: issue_status_visibility(issuable, status_box: :open) }
      = sprite_icon('issue-open-m', css_class: 'gl-display-block gl-display-sm-none!')
      %span.gl-display-none.gl-display-sm-block!
        = _('Open')

    .issuable-meta
      #js-issuable-header-warnings
      = issuable_meta(issuable, @project, issuable_display_type(issuable))

    %a.btn.gl-button.btn-default.float-right.gl-display-block.d-sm-none.gutter-toggle.issuable-gutter-toggle.js-sidebar-toggle{ href: "#" }
      = sprite_icon('chevron-double-lg-left')

  .js-issue-header-actions{ data: issue_header_actions_data(@project, issuable, current_user) }
